<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Searcbox -->
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      placeholder="Buscar por capital"
      [initialValue]="initialValue"
      >
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <!-- loading -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <!-- table content -->
    <country-table [countries]="countries"></country-table>

  </div>
</div>